@CHARSET "UTF-8";

body {
    margin: 0;
	position: fixed;
	overflow-y: scroll;
    background-color:#000;
}
::-webkit-scrollbar {
  display: none;
}
canvas{
	cursor:url(images/pencil.png),auto;
}
#panel_canvas{
	width:800px;
	height:600px;
	background-color:#fff;
}
#panel_canvas_login{
	width:800px;
	height:600px;
	background-color:#fff;
	background-image:url("images/login_back.jpg");
    background-repeat: no-repeat;
}
#title {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    font-size: 140px;
    color:#1a1a1a;
    position:absolute;
    margin-left: 160px;
    margin-top: 140px;
}
#title_secondary{
	font-family:'Monotype Corsiva','lucida handwriting';
	font-size: 140px;
}
.button {
    background: #1a1a1a;
    border: 0;
    border-radius: 2px;
    color: #fff;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.84375em 0.875em 0.78125em;
    text-transform: uppercase;
}
#panel_button {
    position: absolute;
    top: 35px;
    left: 250px;
    width: 500px;
}
#panel_timer {
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(330, 0%, 20%);
    height:54px;
    width:54px;
    top: 35px;
    left: 740px;
}
#progress{
	position: absolute;
    top: 593px;
    left: 0px;
    height: 7px;
	width: 800px;
}

#point{
	position: absolute;
    top: 593px;
    left: 0px;
    height: 7px;
	width: 800px;
}

.point{
	position: absolute;
    top: 593px;
    left: 0px;
    height: 7px;
	width: 800px;
}

#panel_console.Paper{
	position: absolute;
	top: 600px;
    width: 800px;
    height: 100px;
    background-image:url("images/torn.png");
    background-repeat: no-repeat;
}
#panel_console.Modern{
	position: absolute;
	top: 600px;
    width: 800px;
    height: 100px;
    background-color: #D3D3D3;
}
#panel_console.Dark{
	position: absolute;
	top: 600px;
    width: 800px;
    height: 100px;
    background-color: black;
}
input.tool_button {
	font-size: 120%;
    width: 56px;
    height: 56px;
    float: left;
    padding :1px 6px;
    margin-right: 2px;
    background-repeat: no-repeat;
    background-position: center center;
}
#panel_timer.Paper{
    background-color: buttonface;
}
#panel_timer.Modern{
    background-color: #FFCC00;
}
#panel_timer.Dark{
    background-color: #2f4f4f;
}
input.Paper{
	background-color: buttonface;
}
input.Modern{
	background-color: #FFCC00;
}
input.Dark{
    background-color: #2f4f4f;
}
input.Paper#tool_pen{
	background-image:url("images/pencil_ic.png");
	}
input.Paper#tool_text{
	background-image:url("images/text.png");
	}
input.Paper#tool_save{
	background-image:url("images/save.png");
	}
input.Paper#tool_clear {
	background-image:url("images/delete.png");
	}
input.Paper#tool_newp{
	background-image:url("images/newp.png");
	}
input.Paper#tool_delp{
	background-image:url("images/delp.png");
	}
input.Paper#tool_image{
	background-image:url("images/upload.png");
	}
input.Paper#tool_eraser{
	background-image:url("images/eraser.png");
	}
input.Modern#tool_pen{
	background-image:url("images/pen_m.png");
	}
input.Modern#tool_text{
	background-image:url("images/text_m.png");
	}
input.Modern#tool_save{
	background-image:url("images/save_m.png");
	}
input.Modern#tool_clear {
	background-image:url("images/delete_m.png");
	}
input.Modern#tool_newp{
	background-image:url("images/newp_m.png");
	}
input.Modern#tool_delp{
	background-image:url("images/delp_m.png");
	}
input.Modern#tool_image{
	background-image:url("images/upload_m.png");
	}
input.Modern#tool_eraser{
	background-image:url("images/eraser_m.png");
	}
input.Dark#tool_pen{
	background-image:url("images/pen_d.png");
	}
input.Dark#tool_text{
	background-image:url("images/text_d.png");
	}
input.Dark#tool_save{
	background-image:url("images/save_d.png");
	}
input.Dark#tool_clear {
	background-image:url("images/delete_d.png");
	}
input.Dark#tool_newp{
	background-image:url("images/newp_d.png");
	}
input.Dark#tool_delp{
	background-image:url("images/delp_d.png");
	}
input.Dark#tool_image{
	background-image:url("images/upload_d.png");
	}
input.Dark#tool_eraser{
	background-image:url("images/eraser_d.png");
	}
#tool_image_surface {
	padding: 0px;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    background-repeat: no-repeat;
    background-position: center center;
    background-image:url("images/pencil_ic.png");
}
#panel_meter {
    position: absolute;
    top: 22px;
    left: 0px;
    height: 5px;
    width: 800px;
    background-color:blue;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    cursor:pointer;
    cursor:hand;
    display:inline-block;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
}
#panel_theme{
	position: absolute;
	top:5px;
	left:15px;
}
#select_theme{
	position: absolute;
	top:0px;
	left:50px;
}
#palette{
	position: absolute;
	top:25px;
	left:15px;
	width:197px;
	display: table;
    border-collapse:collapse;
    border: 2px ridge;
    border-spacing: 0px;
    border-color: grey;
}
.palette_cell{
	font-weight: bold;
    text-align: center;
    display: table-cell;
    vertical-align: inherit;
    width:10px;
	height:5px;
}
#panel_mask{
	position: absolute;
	top: 600px;
    width: 800px;
    height: 100px;
    background-color: #000;
}
.options{
	background-color: default;
}
#select_theme{
	background-color: default;
}
#timer_text{
	width: 44px;
}
#timer_button{
	width: 48px;
}
#modified{
    font-size: 100px;
    color:#777;
    opacity: 0;
    position:absolute;
	top: 0px;
    left: 430px;
}
#page_num{
    font-size: 40px;
    color:#777;
    opacity: 0.4;
    position:absolute;
	top: 0px;
    left: 10px;
}