@CHARSET "UTF-8";

body {
    margin: 0;
    background-color:#000;
}
::-webkit-scrollbar {
  display: none;
}
#panel_canvas{
	width:800px;
	height:600px;
	background-color:#fff;
}
#panel_canvas_login{
	width:800px;
	height:600px;
	background-color:#fff;
	background-image:url("images/login_back.jpg");
    background-repeat: no-repeat;
}
#title {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    font-size: 140px;
    color:#1a1a1a;
    position:absolute;
    margin-left: 160px;
    margin-top: 140px;
}
#title_secondary{
	font-family:'Monotype Corsiva','lucida handwriting';
	font-size: 140px;
}
.button {
    background: #1a1a1a;
    border: 0;
    border-radius: 2px;
    color: #fff;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    font-weight: 700;
    letter-spacing: 0.046875em;
    line-height: 1;
    padding: 0.84375em 0.875em 0.78125em;
    text-transform: uppercase;
}
#panel_button {
    position: absolute;
    top: 35px;
    left: 300px;
    width: 300px;
}
#tool_pen {
    font-size: 120%;
    width: 56px;
    height: 56px;
    background-image:url("");
    background-repeat: no-repeat;
    background-position: center center; 
}
#tool_text {
    font-size: 120%;
    width: 56px;
    height: 56px;
    background-image:url("");
    background-repeat: no-repeat;
    background-position: center center; 
}
#tool_image {
    font-size: 120%;
    width: 56px;
    height: 56px;
    background-image:url("");
    background-repeat: no-repeat;
    background-position: center center; 
}
#tool_save {
    font-size: 120%;
    width: 56px;
    height: 56px;
    background-image:url("images/save.png");
    background-repeat: no-repeat;
    background-position: center center; 
}
#tool_clear {
    font-size: 120%;
    width: 56px;
    height: 56px;
    background-image:url("images/delete.png");
    background-repeat: no-repeat;
    background-position: center center; 
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
li {
    cursor:pointer;
    cursor:hand;
    display:inline-block;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
}

#panel_console{
	position: absolute;
	top: 600px;
    width: 800px;
    height: 100px;
    background-image:url("images/torn.png");
    background-repeat: no-repeat;
}

#palette{
	position: absolute;
	top:30px;
	left:15px;
	width:260px;
	display: table;
    border-collapse:collapse;
    border: 2px ridge;
    border-spacing: 0px;
    border-color: grey;
}
.palette_cell{
	font-weight: bold;
    text-align: center;
    display: table-cell;
    vertical-align: inherit;
    width:10px;
	height:5px;
}